.event-create-form-card {
  @include flex-layout();
}

.event-create-form-btn {
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  padding: $spacing-4;
  transition: $transition-base scale;
  will-change: scale;

  @include hover-effect() {
    scale: 1.02;
    opacity: 1;
  }
}