.card {
  border-radius: $card-radius;
  background-color: $card-bg;
  box-shadow: $card-shadow;
  padding: $card-padding;
}

.card-large {
  @extend .card;
  padding: $card-padding-lg;
}

.card-small {
  @extend .card;
  padding: $card-padding-sm;
}