.input-group {
  position: relative;
  font-size: $font-size-sm;
  @include flex-layout($gap: $spacing-2);

  .input-group-label {
    @include flex-layout(row, center, $gap: $spacing-1);
    text-align: center;
    svg {
      @include square($font-size-lg);
    }
  }

  .input-field {
    font-size: $font-size-sm;
    width: 100%;
    appearance: none;
    border: none;
    padding: $spacing-3;
    border-radius: $border-radius-sm;
    // background-color: $gray-100;
    outline: none;
    border: $border-color-medium 2px solid;
    transition: border-color $transition-base;
    z-index: 1;
  }

  textarea {
    resize: vertical;
  }

  .input-placeholder {
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 100%;
    left: $spacing-3;
    top: calc(50% + $spacing-3);
    translate: 0 -50%;
    color: $text-secondary;
    z-index: 10;
    transition: $transition-opacity; 
  }


  .input-field:focus {
    border-color: $primary;
  }

  .input-field:focus + .input-placeholder {
    opacity: 0;
  }
}